# custom directories
data/

# ignore pycache
global-exclude __pycache__

U-Mamba-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerUMambaBot_100epochs__nnUNetPlans__2d/fold_0/checkpoint_final.pth
U-Mamba-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerUMambaBot_100epochs__nnUNetPlans__2d/fold_1/checkpoint_final.pth
U-Mamba-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerUMambaBot_100epochs__nnUNetPlans__2d/fold_3/checkpoint_final.pth
U-Mamba-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerUMambaBot_100epochs__nnUNetPlans__2d/fold_4/checkpoint_final.pth
U-Mamba-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerUMambaBot_100epochs__nnUNetPlans__2d/fold_2/checkpoint_final.pth
envs/fold_1/checkpoint_final.pth
envs/fold_2/checkpoint_final.pth
envs/fold_4/checkpoint_final.pth
envs/fold_3/checkpoint_final.pth
MedNeXt-Docker/test/input/images/stacked-fetal-ultrasound/04a04f2e-840b-47f8-a907-abe7aeab3f41_1_0000.mha
MedNeXt-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerV2_MedNeXt_B_kernel5_100epochs__nnUNetPlans__2d/fold_4/checkpoint_final.pth
MedNeXt-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerV2_MedNeXt_B_kernel5_100epochs__nnUNetPlans__2d/fold_3/checkpoint_final.pth
MedNeXt-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerV2_MedNeXt_B_kernel5_100epochs__nnUNetPlans__2d/fold_2/checkpoint_final.pth
MedNeXt-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerV2_MedNeXt_B_kernel5_100epochs__nnUNetPlans__2d/fold_1/checkpoint_final.pth
MedNeXt-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerV2_MedNeXt_B_kernel5_100epochs__nnUNetPlans__2d/fold_0/checkpoint_final.pth
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerV2_MedNeXt_B_kernel5_100epochs__nnUNetPlans__2d/fold_4/checkpoint_final.pth
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerV2_MedNeXt_B_kernel5_100epochs__nnUNetPlans__2d/fold_3/checkpoint_final.pth
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerV2_MedNeXt_B_kernel5_100epochs__nnUNetPlans__2d/fold_2/checkpoint_final.pth
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerV2_MedNeXt_B_kernel5_100epochs__nnUNetPlans__2d/fold_1/checkpoint_final.pth
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerV2_MedNeXt_B_kernel5_100epochs__nnUNetPlans__2d/fold_0/checkpoint_final.pth
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerV2_MedNeXt_B_kernel5_100epochs__nnUNetPlans__2d/plans.json
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerV2_MedNeXt_B_kernel5_100epochs__nnUNetPlans__2d/dataset.json
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerUMambaBot_100epochs__nnUNetPlans__2d/fold_4/checkpoint_final.pth
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerUMambaBot_100epochs__nnUNetPlans__2d/fold_3/checkpoint_final.pth
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerUMambaBot_100epochs__nnUNetPlans__2d/fold_3/checkpoint_final.pth
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerUMambaBot_100epochs__nnUNetPlans__2d/fold_1/checkpoint_final.pth
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerUMambaBot_100epochs__nnUNetPlans__2d/fold_0/checkpoint_final.pth
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerUMambaBot_100epochs__nnUNetPlans__2d/fold_2/checkpoint_final.pth
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerUMambaBot_100epochs__nnUNetPlans__2d/plans.json
Dual-model-Docker/resources/nnUNet_results/Dataset001_US/nnUNetTrainerUMambaBot_100epochs__nnUNetPlans__2d/dataset.json
Experiments/ex_0/AC_005_01_0000.nii.gz
Experiments/ex_0/AC_005_01_gt.nii.gz
Experiments/ex_0/AC_005_01_pred.nii.gz
