acvl_utils==0.2
asttokens 
batchgenerators==0.25
beautifulsoup4==4.12.3
Brotli
causal-conv1d==1.4.0
certifi
cffi 
charset-normalizer 
colorama 
comm 
connected-components-3d==3.17.0
contourpy 
cycler 
debugpy 
decorator 
dicom2nifti==2.4.11
dynamic_network_architectures==0.3.1
einops 
evalutils==0.4.2
exceptiongroup 
executing 
filelock 
fonttools 
fsspec==2024.6.1
future==1.0.0
gdown==5.2.0
gmpy2 
graphviz==0.20.3
h2 
hpack==4.0.0
huggingface-hub==0.23.4
hyperframe 
icecream 
idna 
imagecodecs
imageio 
importlib_metadata 
importlib_resources 
ipykernel 
ipython 
ipywidgets==8.1.3
itk-core 
itk-filtering 
itk-io 
itk-numerics 
itk-registration 
itk-segmentation 
jedi 
Jinja2 
joblib 
jupyter_client 
jupyter_core 
jupyterlab_widgets==3.0.11
kiwisolver 
lazy_loader==0.4
linecache2==1.0.0
mamba-ssm==1.2.0.post1
MarkupSafe 
matplotlib
matplotlib-inline 
MedPy 
monai==1.3.0
mpmath 
munkres==1.1.4
nest_asyncio 
networkx 
nibabel 
ninja==1.11.1.1
-e git+https://github.com/xmed-lab/TriALS.git@3d1a29f72df6cd01448b8aa83e8f09fde8a9cb93#egg=nnunetv2
numpy 
opencv-python==4.10.0.84
packaging 
pandas 
parso 
pexpect 
pickleshare 
pillow 
platformdirs 
ply 
prompt_toolkit 
psutil 
ptyprocess 
pure-eval 
pycparser 
pydicom==2.4.4
Pygments 
pyparsing 
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks 
python-dateutil 
python-gdcm==3.0.24.1
pytz 
PyYAML 
pyzmq 
regex==2024.5.15
requests 
safetensors==0.4.3
scikit-image==0.24.0
scikit-learn 
scipy 
seaborn==0.13.2
SimpleITK 
sip 
six 
soupsieve==2.5
stack-data 
sympy 
threadpoolctl 
tifffile==2024.7.2
tokenizers==0.19.1
toml 
tomli 
torch==2.2.2
torchaudio==2.2.2
torchvision==0.17.2
tornado 
tqdm==4.66.4
traceback2==1.4.0
traitlets 
transformers==4.42.3
triton==2.2.0
typing_extensions 
tzdata 
unicodedata2 
unittest2==1.1.0
urllib3 
wcwidth 
widgetsnbextension==4.0.11
yacs==0.1.8
zipp 
zstandard==0.22.0
